.Logo{
    font-size: 40px;
    border: 5px solid rgb(170, 207, 255);
    color: white;
    border-width: 100%;
    max-width: 220px;
    padding: 5px;
    border-radius: 22px;
    text-shadow: 1px 5px 1px rgba(0, 0, 0, 0.226);
}

ul{
    text-align: center;
    display: flex;
    flex-direction: row;
}

.links{
    font-size: 30px;
    border: 5px solid rgb(170, 207, 255);
    max-width: 140px;
    padding: 5px;
    border-radius: 22px;

}

.ancoralinks{
    text-decoration: none;
    color: white;
}

header{
    background-color: rgb(98, 166, 255);
}

main{
    background-color: rgba(222, 236, 255, 1);
}
