html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main{
    flex: 1;
    padding-top: 80px;
}



.íconestelaincio {
    width: 30px; 
    height: auto;
    max-width: none;
    height: 35px; 
    object-fit: contain;
    display: block;
    min-width: 100%;
}

.boxcasas{
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    padding: 20px;
    
}


#casa1{
    background-color: rgba(91, 141, 206, 1);
    border: 10px solid rgba(91, 141, 206, 1);
    border-radius: 22px;
}

.infocasas{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.infocasas p {
    display: flex;         
    align-items: center;   
    justify-content: center;  
    gap: 10px;     
    background-color: rgba(38, 165, 255, 1);
    border: 2px solid rgba(170, 207, 255, 1);
    border-radius: 40px;    
    color: rgba(255, 255, 255, 1);
    padding: 5px 20px;
    height: 50px;       
    min-width: 40px; 
}


.visualizarcasa{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.visualizarcasa a{
    background-color: rgba(38, 165, 255, 1);
    border: 2px solid rgba(170, 207, 255, 1);
    border-radius: 40px;    
    text-decoration: none;
    padding: 10px 40px;
    color: rgba(255, 255, 255, 1);
}

#casa1 img{
     max-width: 400px;
     
}
