html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main{
    flex: 1;
}



.boxcasas{
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#casa1{
    background-color: rgba(91, 141, 206, 1);
    border: 10px solid rgba(91, 141, 206, 1);
    border-radius: 22px;
}

.infocasas{
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    justify-content: center;
}

.infocasas p{
    background-color: rgba(38, 165, 255, 1);
    border: 2px solid rgba(170, 207, 255, 1);
    border-radius: 40px;    
    text-decoration: none;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 1);
}


.visualizarcasa{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.visualizarcasa a{
    background-color: rgba(38, 165, 255, 1);
    border: 2px solid rgba(170, 207, 255, 1);
    border-radius: 40px;    
    text-decoration: none;
    padding: 10px 40px;
    color: rgba(255, 255, 255, 1);
}

#casa1 img{
     max-width: 400px;
     
}
